<html xmlns="http://www.w3.org/1999/html" xmlns:th="http://www.w3.org/1999/xhtml"
      xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" type="text/css" href="/css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/userProfile.css">
    <link rel="stylesheet" type="text/css" href="/css/review.css">
    <title th:text="${author.fullName}"></title>
</head>

<body>

<div class="header">
    <div class="logo">
        <form action="#" th:action="@{/home}" method="get">
            <input id="mainButton" value="Bookshelf" type="submit"/>
            <h2>easy way to find a favourite book</h2>
        </form>
    </div>
    <div class="search">
        <div class="registrationButtons">
            <form th:action="@{/login}" method="post"  sec:authorize="!isAuthenticated()">
                <input id="signUpButton" type="submit" value="Sign in"/>
            </form>
            <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
                <input id="signUpButton" type="submit" value="Sign Out"/>
            </form>
        </div>
    </div>
</div>

<div class='navigation'>
    <ul>
        <li>
            <form action="#" th:action="@{/authors}" method="get">
                <input id="menuButton" value="Authors" type="submit"/>
            </form>
        </li>
        <li>
            <form action="#" th:action="@{/books}" method="get">
                <input id="menuButton" value="Books" type="submit"/>
            </form>
        </li>
    </ul>
</div>

<div class="main" th:object="${author}">
    <div class="profile">

        <h2 th:text="${author.nickName}"></h2>
        <hr id="line">

        <div class="ffff">

            <div class="photo">
                <img src="" th:src="${author.imageLink}" alt="userPhoto">
            </div>

            <div class="hrrrrr">
                <div class="wrapp">
                    <label>Books:</label>
                    <div th:each="book: ${author.books}">
                        <p th:text="${book.title}"></p><br/>
                    </div>
                </div>

                <div class="wrapp">
                    <label>Full name:</label>
                    <p th:text="${author.fullName}"></p>
                </div>

                <div class="wrapp">
                    <label>Country:</label>
                    <p th:text="${author.country.name}"></p>
                </div>

                <div class="wrapp">
                    <label>Birthday:</label>
                    <p th:text="${author.birthday}"></p>
                </div>

                <div class="wrapp">
                    <label>DeathDay:</label>
                    <p th:text="${author.deathDay}"></p>
                </div>
            </div>
        </div>
        <div class="Biography">

            <div class="wrapp">
                <label style="color: rgb(116, 14, 99);">Biography:</label>
            </div>
            <p>
                Info About authorInfo About authorInfo About authorInfo About authorInfo About authorInfo About author.
                Info About authorInfo About authorInfo About authorInfo About authorInfo About authorInfo About author.
                Info About authorInfo About authorInfo About authorInfo About authorInfo About authorInfo About author.
                Info About authorInfo About authorInfo About authorInfo About authorInfo About authorInfo About author.
            </p>
        </div>
    </div>
</div>
<footer>
    Made by Zufar
</footer>
</body>
</html>
