<html xmlns:th="http://www.w3.org/1999/xhtml" xmlns:sec="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html"/>
    <meta name="author" content=""/>
    <link rel="stylesheet" type="text/css" href="/css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <title>New author</title>
</head>

<body>

<div class="header">
    <div class="logo">
        <form action="#" th:action="@{/home}" method="get">
            <input id="mainButton" value="Bookshelf" type="submit"/>
            <h2>easy way to find a favourite book</h2>
        </form>
    </div>
    <div class="search">
        <form th:action="@{/logout}" method="post" sec:authorize="isAuthenticated()">
            <input id="signUpButton" type="submit" value="Sign Out"/>
        </form>
    </div>
</div>

<div class='navigation'>
    <ul>
        <li>
            <form action="#" th:action="@{/authors}" method="get">
                <input id="menuButton" value="Authors" type="submit"/>
            </form>
        </li>
        <li>
            <form action="#" th:action="@{/books}" method="get">
                <input id="menuButton" value="Books" type="submit"/>
            </form>
        </li>
    </ul>
</div>

<div class="main">
    <form th:object="${author}" action="#" th:action="@{/authors}" method="post">
        <div class="registration">

            <h2>Add new author</h2>
            <hr id="line">

            <label for="imageLink">Image link:</label>
            <input type="text" id="imageLink" name="imageLink" placeholder="Your image link..">

            <label for="fullName">Name:</label>
            <input type="text" id="fullName" name="fullName" placeholder="Your full name..">

            <label for="nickname">Nickname:</label>
            <input type="text" id="nickname" name="nickname" placeholder="Your nickname..">

            <label for="country">Country:</label>
            <select id="country" th:field="*{country}" name="country">
                <option value="">Nothing selected</option>
                <option th:each="country : ${countries}" th:value="${{country.id}}" th:text="${country.name}">
                    Country
                </option>
            </select>

            <label for="books">Books:</label>
            <select id="books" th:field="*{books}" multiple="multiple">
                <option value="">Nothing selected</option>
                <option th:each="book : ${books}" th:value="${{book}}" th:text="${book.title}">Books</option>
            </select>

            <label for="birthday">Birthday:</label>
            <div class="publicationDate">
                <input type="date" id="birthday" name="birthday" value="" th:field="*{birthday}">
            </div>

            <label for="deathDay">Death day:</label>
            <div class="publicationDate">
                <div class="publicationDate">
                    <input type="date" id="deathDay" name="deathDay" value="" th:field="*{deathDay}">
                </div>
            </div>

            <div class="SubmitButton">
                <input type="submit" value="Add">
            </div>
        </div>
    </form>
</div>
<footer>
    Made by Zufar
</footer>
</body>
</html>
