* {
  margin: 0;
  padding: 0;
}

.header {
  background: #f22e7d;
  height: 115px;
  padding-left: 15px;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}


#mainButton {
  color: white;
  text-shadow: 3px 3px #4d4557;
  font: normal 295% "century gothic", arial, sans-serif;
  display: block;
  font-size: 3em;
  -webkit-margin-before: 0.57em;
  -webkit-margin-after: 0.67em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  margin-bottom: -5px;
  background: #f22e7d;
  border: 0 none;
}

#mainButton:hover {
  color: #c574bd;
}
.header h1 {
  color: white;
  text-shadow: 3px 3px #4d4557;
  font: normal 295% "century gothic", arial, sans-serif;
}

.header h2 {
  color: white;
  font: normal 115% "century gothic", arial, sans-serif;
}

h3 {
  color: #783852;
  font: normal 110% arial, sans-serif;
  font-weight: bold;
}
p {
   font-size: 19px;
  margin-top: 1px;
  color: #783852;
}

ul {
 font-size: 19px;
  color: #783852;
  list-style-type: none;
}
/*------------Search------------------*/

#search-btn {
  background: #f7b2d8;
  color: #9b4222;
  font: "trebuchet ms", trebuchet;
  padding: 10px 20px;
  border-radius: 0 10px 10px 0;
  -moz-border-radius: 0 10px 10px 0;
  -webkit-border-radius: 0 10px 10px 0;
  -o-border-radius: 0 10px 10px 0;
  border: 0 none;
  width: 100px;
  font-weight: bold;
}
#search-btn:hover {
  background: #d169e0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
  color: white;
}

#search-box {
  background: white;
  padding: 10px;
  border-radius: 10px 0 0 10px;
  -moz-border-radius: 10px 0 0 10px;
  -webkit-border-radius: 10px 0 0 10px;
  -o-border-radius: 10px 0 0 10px;
  border: 0 none;
  width: 360px;
}

#signUpButton {
  color: white;
  padding: 5px;
  padding-bottom: 13px;
  margin-top: -9px;
  text-decoration: none;
  background: #f22e7d;
  border: 0 none;
}

#signUpButton:hover {
  color: #ffcffa;
}


.search {
  margin-bottom: 2px;
  margin-right: 15px;
  display: flex;
  flex-direction: column;
}

.search a {
  margin-top: -9px;
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  color: white;
}
.search a:hover {
  color: #ffcffa;
}
.registrationButtons {
  display:flex;
  justify-content: flex-end;
  align-items: flex-end;
}

.registrationButtons a {
color: white;
padding: 5px;
padding-bottom: 9px;
}
/* ------------------ top MENU ----------------- */

.navigation {
  display: -webkit-flex;
  display: flex;
  justify-content: center;
  align-content: flex-start;
  background: #d1cdfa;
  border-bottom: 3px solid #f22e7d;
  background-color: #f7b2d8;
}

.navigation ul {
  display: flex;
  list-style: none; /*убираем маркеры списка*/
  margin: -6px; /*убираем верхнее и нижнее поле, равное 1em*/
  padding-left: 0; /*убираем левый отступ, равный 40px*/
}

#menuButton {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  padding: 1rem 3rem;
  width: 49px;
  display: block;
  color: #9b4222;
  background: #ffdbef;
  border: 2px solid #bf3069;
  border-radius: 7px;
  width: 150px;
}
#menuButton:hover {
  color: white;
  background: #d169e0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.navigation a {
  text-decoration: none; /*убираем подчеркивание текста ссылок*/
  padding: 1rem 3rem;
  width: 49px;
  display: block;
  color: #9b4222;
  background: #ffdbef;
  border: 2px solid #bf3069;
  border-radius: 7px;
}
.navigation a:hover {
  color: white;
  background: #d169e0;
  box-shadow: 0 12px 16px 0 rgba(0, 0, 0, 0.24),
    0 17px 50px 0 rgba(0, 0, 0, 0.19);
}

.navigation li {
  font-color: white;
  length: 50px;
  margin-right: 8px;
}


/*-----------------------------Main-----------------------------*/
.main {
  min-height: 900px;
  width: 900px;
  margin-right: auto;
  margin-left: auto;
  background-color: #f7b2d8;
  padding: 15px;
     border: 1px solid #ccc;
  border-radius: 7px;
   margin-top: 27px;
   margin-bottom: 27px;
}

body {
  background-color: #ffdbef;
  line-height: 1.5;
}

footer {
    left: 0;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-color: #f22e7d;
    color: white;
    text-align: center;
}

/*-----------------Registration--------------------*/

.registration {
  background-color: #ffdbef;
 display: flex;
 flex-direction: column;
   border-radius: 5px;
  padding: 20px;
}

.registration h2 {
  color: grey;
  text-shadow: 2px 2px #4d4557;
  font: normal 250% "century gothic", arial, sans-serif;
}

hr {
  margin-top: 11px;
  margin-bottom: 15px;
}

input[type="text"], input[type="password"], input[type="email"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

.profile {
  display: flex;
  flex-direction: column;
}

/****************************************************************************************/
      /* Full-width input fields */
      .modal  input[type=text], input[type=password] {
        width: 100%;
        padding: 12px 20px;
        margin: 8px 0;
        display: inline-block;
        border: 1px solid #ccc;
        box-sizing: border-box;
    }
    
    /* Set a style for all buttons */
    .modal button {
        background-color: rgb(235, 137, 187);
        color: white;
        padding: 11px 14px;
        margin: 4px 0;
        margin-right: 6px;
        border-radius: 4px;
        cursor: pointer;
        width: 100px;
    }
    
    .modal button:hover {
       background-color: rgb(214, 77, 146);
        opacity: 0.8;
    }
    
    /* Extra styles for the cancel button */
    .cancelbtn {
        width: auto;
        padding: 10px 18px;
        background-color: #9b194f;
    }
    
    /* Center the image and position the close button */
    .imgcontainer {
        text-align: center;
        margin: 24px 0 12px 0;
        position: relative;
    }
    
    img.avatar {
        width: 40%;
        border-radius: 50%;
    }
    
    .container {
        padding: 16px;
    }
    
    span.psw {
        float: right;
        padding-top: 16px;
    }
    
    /* The Modal (background) */
    .modal {
        display: none; /* Hidden by default */
        position: fixed; /* Stay in place */
        z-index: 1; /* Sit on top */
        left: 0;
        top: 0;
        color: #50281a;
        width: 100%; /* Full width */
        height: 100%; /* Full height */
        overflow: auto; /* Enable scroll if needed */
        background-color: rgb(0,0,0); /* Fallback color */
        background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
        padding-top: 60px;
    }
    
    /* Modal Content/Box */
    .modal-content {
        background-color: #f7d9e6;
        margin: 5% auto 15% auto; /* 5% from the top, 15% from the bottom and centered */
        border: 1px solid #888;
        border-radius: 5px;
        width: 40%; /* Could be more or less, depending on screen size */
    }
    
    /* The Close Button (x) */
    .close {
        position: absolute;
        right: 25px;
        top: 0;
        color: #000;
        font-size: 35px;
        font-weight: bold;
    }
    
    .close:hover,
    .close:focus {
        color: red;
        cursor: pointer;
    }
    
    /* Add Zoom Animation */
    .animate {
        -webkit-animation: animatezoom 0.6s;
        animation: animatezoom 0.6s
    }
    
    @-webkit-keyframes animatezoom {
        from {-webkit-transform: scale(0)} 
        to {-webkit-transform: scale(1)}
    }
        
    @keyframes animatezoom {
        from {transform: scale(0)} 
        to {transform: scale(1)}
    }
    
    /* Change styles for span and cancel button on extra small screens */
    @media screen and (max-width: 300px) {
        span.psw {
           display: block;
           float: none;
        }
        .cancelbtn {
           width: 100%;
        }
    }

    .super {
      display: flex;
      flex-direction: column;
      
      height:50px;
    }
    .super input[type=checkbox] {
      margin-right: 7px;  
    }

    .addNewItem [type="submit"] {
        width: 450px;
        background-color: #f22e7d;
        color: white;
        padding: 14px 20px;
        margin: 8px 0;
        border: none;
        border-radius: 4px;
        cursor: pointer;
    }
