<html xmlns:th="http://www.w3.org/1999/xhtml" lang="en">

<head>
    <meta http-equiv="content-type" content="text/html"/>
    <meta name="author" content=""/>
    <link rel="stylesheet" type="text/css" href="/css/mainStyle.css">
    <link rel="stylesheet" type="text/css" href="/css/registration.css">
    <title>Registration</title>
</head>

<body>
<div class="header">
    <div class="logo">
        <form action="#" th:action="@{/home}" method="get">
            <input id="mainButton" value="Bookshelf" type="submit"/>
            <h2>easy way to find a favourite book</h2>
        </form>
    </div>
</div>

<div class='navigation'>
    <ul>
        <li>
            <form action="#" th:action="@{/authors}" method="get">
                <input id="menuButton" value="Authors" type="submit"/>
            </form>
        </li>
        <li>
            <form action="#" th:action="@{/books}" method="get">
                <input id="menuButton" value="Books" type="submit"/>
            </form>
        </li>
    </ul>
</div>
<div class="main">
    <form th:object="${user}" action="#" th:action="@{/addUser}" method="post">
        <div class="registration">

            <h2>Registration form</h2>
            <hr id="line">

            <label for="fullName">Full name:</label>
            <input type="text" id="fullName" name="fullName" placeholder="Your full name..">

            <label for="nickName">Nickname:</label>
            <input type="text" id="nickName" name="nickName" placeholder="Your nickname..">

            <label for="birthday">Birthday:</label>
            <div class="publicationDate">
                <input type="date" id="birthday" name="birthday" value="" th:field="*{birthday}">
            </div>

            <label for="gender">Gender:</label>
            <select id="gender" name="gender">
                <option value="">Nothing selected</option>
                <option th:each="gender : ${T(com.zufar.bookshelf.entity.Gender).values()}" th:value="${gender}"
                        th:text="${gender}"></option>
            </select>

            <label for="country">Country:</label>
            <select id="country" th:field="*{country}" name="country">
                <option value="">Nothing selected</option>
                <option th:each="country : ${countries}" th:value="${{country.id}}" th:text="${country.name}">
                    Country
                </option>
            </select>

            <div class="password">
                <label for="login">Login:</label>
                <input type="text" id="login" name="login" placeholder="Your login..">

                <label for="password">Password:</label>
                <input type="password" id="password" name="password" placeholder="Enter password">
            </div>

            <div class="SubmitButton">
                <input type="submit" value="Register">
            </div>
        </div>
    </form>
</div>
<footer>
    Made by Zufar
</footer>
</body>
</html>